* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #FCFCFC;
}

header {
  height: 55px;
  background: #181716;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
}

.header-desc {
  color: #8AEAE2;
  padding: 0 20px;
}

.title {
  color: #00808A;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  padding: 3rem 0 2rem 0;
  /* font-family: 'Merriweather', serif; */
}

.form-input {
  text-align: center;
  padding-bottom: 3rem;
}
.user-input {
  padding: .4rem 4rem;
  text-align: center;
  /* border: none; */

}

#submit {
  /* color: orange; */
  padding: .4rem;
}
#submit:hover {
  background-color: #8AEAE2;
}

.page-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.page-button button {
  width: 2rem;
  height: 1.6rem;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: .1rem;
  background-color: #BBBBBB;
  transition: 0.4s;;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.page-button button:hover {
  background-color: #8AEAE2;
}
.page-button button.active {
  background-color: #8AEAE2;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);

}

.img-thumbnail {
  border-radius: 5px;
  cursor: pointer;
  /* transition: 0.3s; */
 
}

/* .img-thumbnail:hover {
  opacity: 0.7;
} */



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
  margin: auto;
  display: block;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  cursor: pointer;
}