* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #FCFCFC;
}

header {
  height: 88px;
  background: #333333;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: left;
}
header h1 {
  color: #8AEAE2;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #fff, 0 -1px #fff;
  letter-spacing: .1em;
  padding-left: 1.3rem;
  /* transform: rotate(-2deg); */
  /* outline: 1px solid red; */
  
}
header h3 {
  color: #FCFCFC;
  font-family: 'Qwigley', cursive;;
  font-size: 2rem;
  letter-spacing: .1em;
  padding: 0.2em 0 0 .5em;
  transform: rotate(-.5deg);
}

.header-desc {
  color: #8AEAE2;
  padding: 0 20px;
}
.popular {
  color: #333333;
  padding-top: .8rem;
  font-weight: 600;
}

.popular a {
  text-decoration: none;
  color: #333333;
}

.title {
  color: #665C96;
  /* color: #00808A; */
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem 0 1.5rem 0;
}

.form-input {
  text-align: center;
  padding-bottom: 2rem;
}

.form-input label {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
}

.form-input select {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  padding: .4rem;
}

.user-input {
  padding: .4rem 3rem;
  text-align: center;
}

#submit {
  padding: .4rem;
}

#submit:hover {
  background-color: #8AEAE2;
}

#return-msg {
  padding-top: .8rem;
  color: #C41A23;
}

.page-button {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.page-button button {
  width: 2rem;
  height: 1.6rem;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: .1rem;
  background-color: #BBBBBB;
  transition: 0.4s;;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.page-button button:hover {
  background-color: #8AEAE2;
}
.page-button button.active {
  background-color: #8AEAE2;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

.img-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  /* transition: 0.2s; */
}

.img-thumbnail img {
  padding: 1.2rem;
}

.img-thumbnail img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modalImage {
  margin: auto;
  display: block;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #8AEAE2;
  cursor: pointer;
}